.elem-color-lithium.recipient {
    background-color: #f0c8c9;
}

.elem-color-sodium.recipient {
    background-color: #ccffcc;
}

.elem-color-potassium.recipient {
    background-color: #ccff99;
}

.elem-color-calcium.recipient {
    background-color: #e6e6e6;
}

.elem-color-magnesium.recipient {
    background-color: #d9d9d9;
}

.elem-color-aluminum.recipient {
    background-color: #b3b3b3;
}

.elem-color-zinc.recipient {
    background-color: #cccccc;
}

.elem-color-iron.recipient {
    background-color: #a52a2a;
}

.elem-color-lead.recipient {
    background-color: #424242;
}

.elem-color-copper.recipient {
    background-color: #b87333;
}

.elem-color-silver.recipient {
    background-color: #c0c0c0;
}

.elem-color-gold.recipient {
    background-color: #ffd700;
}